## LIST

In [1]:
l=[]
type(l)

list

In [2]:
l=[1,2,3,4,5,6]
print(l[1])

2

In [6]:
l=[1,3,5,7,9]
print(len(l))

5

In [7]:
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]
print(l[-1])

16

In [10]:
l=[1,2,3,4,5,6,7,8,9]
print(l[0:5])

[1, 2, 3, 4, 5]

In [12]:
l=[1,2,3,4,5,6,7,8]
print(l[:-5:-1])

[8, 7, 6, 5]

In [17]:
l=['a','b','c','d','e']
print(l[:-6:-1])

['e', 'd', 'c', 'b', 'a']

In [15]:
l=['a','b','c','d','e','f','g']
print(l[:7:1])

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [19]:
l=[1,2,3,4,5,6,7,8,9]
print(l[::-1])

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [21]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [24]:
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
r=["yamini","yathi"]
r

['yamini', 'yathi']

In [27]:
r="yamini"
r[0:4]

'yami'

In [30]:
r="revanth"
r[::-1]

'htnaver'

In [32]:
s="madam"
r=s[::-1]
if r==s:
    print("pal")
else:
    print("not pal")

pal

## loops

In [35]:
a=[1,2,3,4,5]
for i in a:
    print(i)

1
2
3
4
5

In [36]:
a=[222,233,234,235]
for i in a:
    print(i)

222
233
234
235

In [37]:
r="yamini"
for i in r:
    print(i)

y
a
m
i
n
i

In [40]:
n=[1,2,3,4,5,6,7,8]
for i in n:
    if (i%2==0):
        print("even num",i)
    else:
        print("odd num",i)

odd num 1
even num 2
odd num 3
even num 4
odd num 5
even num 6
odd num 7
even num 8

## even and odd between range

In [51]:
a=int(input("enter lb"))
b=int(input("enter ub"))
for i in range(a,b):
    if i%2==0:
        print("even num",i)
    else:
        print("odd num",i)

enter lb10
enter ub20
even num 10
odd num 11
even num 12
odd num 13
even num 14
odd num 15
even num 16
odd num 17
even num 18
odd num 19

## asscending and descending order

In [63]:
n=[24,45,78,97,63]
n.sort() 
n
print(n)
n.reverse()
n
print(n)

[24, 45, 63, 78, 97]
[97, 78, 63, 45, 24]

In [ ]:
a=int(input("enter len of list"))
for i in a:
    print(i)
    l[]
    a.sort()
    a
    print(a)
    a.reverse()
    a
    print(a)